*.d
*.o
*.dll
*.so
*.exe
*.out
*.dSYM/
*.su
*.idb
*.pdb
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*~
gameboy
*.rom
*.gb
*.gbc
*.bin
*.sav